{# templates/product/show.html.twig #}
{% extends 'base.html.twig' %}

{# {% block title %}{{ product.title }}{% endblock %} #}

{% block body %}
{% for product in products %}
    
    <h1>{{ product.title }}</h1>
    <p>{{ product.description }}</p>
    <p>{{ product.price }} €</p>
    <p>{{ product.wishlistCount }} likes</p>
    
    {% if is_granted('ROLE_BUYER') %}
    {% if product.isInWishlist(app.user) %}
    {# le bouton affiché dépendra de si le produit est déjà dans la liste de souhaits de l'utilisateur connecté ou non. #}
            <a href="{{ path('app_wishlist_remove', {'id': product.id}) }}" class="btn btn-danger">Dislike</a>
        {% else %}
            <a href="{{ path('app_wishlist_add', {'id': product.id}) }}" class="btn btn-primary">Like</a>
        {% endif %}
    {% endif %}
{% endfor %}
    
{% endblock %}