{# templates/product/show.html.twig #}
{% extends 'base.html.twig' %}

{# {% block title %}{{ product.title }}{% endblock %} #}

{% block body %}

<section id="products">
    <div class="container">
        <h1>Products List</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ product.productMedia }}" class="card-img-top" alt="{{ product.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Stock : {{ product.stock }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">{{ product.price }} €</small>
                                <p>{{ product.wishlistCount }} likes</p>

                        </div>
                        {% if is_granted('ROLE_BUYER') %}
                            {% if product.isInWishlist(app.user) %}
                            {# le bouton affiché dépendra de si le produit est déjà dans la liste de souhaits de l'utilisateur connecté ou non. #}
                                <a href="{{ path('app_wishlist_remove', {'id': product.id}) }}" class="btn btn-danger">Dislike</a>
                            {% else %}
                                <a href="{{ path('app_wishlist_add', {'id': product.id}) }}" class="btn btn-primary">Like</a>
                            {% endif %}
                        {% endif %} 
                        <a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-sm btn-outline-secondary">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

    
{% endblock %}